.Editor-wrapper {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  padding-top: var(--spacing);
}
.Editor-toolbar {
  display: flex;
  justify-content: flex-start;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  padding-left: var(--spacing-l);
  border-radius: 3px;
  background-color: var(--secondary-lightest);
  user-select: none;

  flex-wrap: wrap;
}
